<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Projects/ParagonAutomationFramework/ParagonAutomationFramework/src/test/java/com/pinelabs/RnD/WebUITest/">
        <classes>
            <class name="com.pinelabs.RnD.WebUITest.TestUtils"></class>
            <class name="com.pinelabs.RnD.WebUITest.GoogleDemoTest"></class>
            <class name="com.pinelabs.RnD.WebUITest.YoutubeDemo"></class>
        </classes>
    </test>
</suite>